@font-face {
  font-family: "iconfont"; /* Project id 4999405 */
  src: url('iconfont.woff2?t=1755167526622') format('woff2'),
       url('iconfont.woff?t=1755167526622') format('woff'),
       url('iconfont.ttf?t=1755167526622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-aichegujiabeifen7:before {
  content: "\e603";
}

.icon-xinchebaojia:before {
  content: "\e604";
}

